._.DS_Store
build
*.pbxuser
*.perspectivev3
*.mode1v3
.DS_Store
.svn
UserInterfaceState.xcuserstate
xcuserdata
*.class
*.swp
.idea/*
.idea
Meiyu.xcscmblueprint
compile_commands.json
target
out
*.iml
logs
nohup*
*.pyc
__pycache__

